<template>
  <div class="backtotop">
    <div class="parent-backtotop">
      <span> Trở lại đầu trang </span>
      <v-icon size="20px">mdi-arrow-up</v-icon>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      //
    };
  },
};
</script>

<style lang="scss">
.backtotop {
  margin-bottom: 44px;
  .parent-backtotop {
    text-align: center;
    font-family: 'roboto';
    font-weight: 400px;
    font-size: 18px;
  }
}
</style>
