<template>
  <v-carousel class="carousel" cycle height="400" hide-delimiter-background show-arrows-on-hover>
    <v-carousel-item class="item-carousel" v-for="(item, i) in items" :key="i" :src="item.src"></v-carousel-item>
  </v-carousel>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          src: 'https://i.pinimg.com/originals/bc/25/c3/bc25c39d588515554e566cc30c42cbb6.jpg',
        },
        {
          src: 'https://i.pinimg.com/originals/92/46/59/9246590ebf40c48ef0f7ea6ad73447fd.jpg',
        },
        {
          src: 'https://i.pinimg.com/originals/8f/a1/e5/8fa1e52c24d2e419a37deb1a6194cf19.jpg',
        },
        {
          src: 'https://i.pinimg.com/originals/4b/a3/3e/4ba33ec02d09303e0813206e5df3bdfa.jpg',
        },
      ],
    };
  },
};
</script>
<style lang="scss">
.carousel {
  height: 512px;
  .carousel-item {
  }
}
</style>
