<template>
  <div class="grandma-feature">
    <div class="parent-feature">
      <v-row>
        <v-col class="child-feature">
          <FeatureCustom :cards="cards"></FeatureCustom>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import FeatureCustom from '@/components/feature/FeatureCustom.vue';

export default Vue.extend({
  name: 'Body',
  components: {
    FeatureCustom,
  },
  data: () => ({
    cards: [
      { title: 'Màn hình', src: 'https://cdn.vuetifyjs.com/images/cards/house.jpg', flex: 6 },
      { title: 'Thiết bị mạng', src: 'https://cdn.vuetifyjs.com/images/cards/house.jpg', flex: 6 },
      { title: 'Hội nghị', src: 'https://cdn.vuetifyjs.com/images/cards/road.jpg', flex: 6 },
      { title: 'Thuyết trình', src: 'https://cdn.vuetifyjs.com/images/cards/plane.jpg', flex: 6 },
    ],
  }),
});
</script>

<style scoped>
.grandma-feature {
  height: 950px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 0px;
  margin-top: 30px;
  margin-bottom: 44px;
}
.child-feature {
  padding-left: 0px;
  padding-right: 0px;
}
</style>
