<template>
  <div class="footer">
    <v-row class="child-header">
      <v-col col="4">
        <div>
          <span>Về chúng tôi</span>
        </div>
      </v-col>
      <v-col col="4">
        <v-row>
          <v-col col="1">
            <div>
              <span>Danh mục</span>
            </div>
          </v-col>
          <v-col col="1">
            <div>
              <span>Liên kết</span>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col col="4">
        <div>
          <span>Liên hệ</span>
        </div>
      </v-col>
    </v-row>

    <v-row class="child-content">
      <v-col col="4">
        <div class="child-about-us">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum gravida auctor. Nulla non pretium
            ligula, nec porttitor nunc. Praesent nec magna ultricies quam pharetra dapibus at ac elit. Nulla lacinia sem
            quis tortor gravida, condimentum vestibulum enim auctor.
          </span>
        </div>
      </v-col>
      <v-col col="4">
        <v-row>
          <v-col col="1">
            <div v-for="category in categories" :key="category">
              <span>
                {{ category }}
              </span>
            </div>
          </v-col>
          <v-col col="1">
            <div v-for="link in links" :key="link">
              <span>
                {{ link }}
              </span>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col col="4">
        <div class="child-contact">
          <span>abc@gmail.com.vn</span>
        </div>
        <div class="child-contact">
          <span>+84 12345678</span>
        </div>
        <div class="child-contact">
          <v-btn v-for="icon in icons" :key="icon" icon>
            <v-icon size="24px">
              {{ icon }}
            </v-icon>
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Footer',
  data: () => ({
    categories: ['Điện thoại', 'Laptop', 'Tivi', 'Điện máy', 'Thiết bị mạng', 'Camera', 'Màn hình', 'Phụ kiện'],
    links: ['Shopee', 'Lazada', 'Điện máy xanh', 'Phong Vũ', 'FPT Shop', 'Sen Đỏ', 'Nguyễn Kim', 'Meta', 'Vỏ Sò'],
    icons: ['mdi-facebook', 'mdi-instagram'],
  }),
});
</script>

<style lang="scss">
.footer {
  width: 100%;
  font-family: 'roboto';
  margin-left: 46px;
  .child-header {
    font-weight: 700px;
    font-size: 18px;
  }
  .child-content {
    font-weight: 400px;
    font-size: 14px;
    line-height: 20px;
  }
  .child-contact {
    padding-bottom: 25px;
  }
  .child-about-us {
    padding-right: 117px;
  }
}
</style>
