<template>
  <div class="header">
    <v-toolbar class="header-wrap" min-height="80px">
      <v-img
        height="54px"
        width="100px"
        src="https://qdln.pvp.xoyo.com/saveas/saveas/42f955db41744742be3f15c4d6b3a0dd?imageslim"
      ></v-img>
      <div class="d-inline-flex">
        <div class="nav-left">
          <v-select class="border-custom-1 rounded-r-0 rounded-l-lg" label="Tất cả" hide-details solo></v-select>
        </div>
        <div class="nav-search-field">
          <v-text-field
            class="border-radius-0"
            style="border-top: 1px solid #000"
            single-line
            hide-details
            placeholder="Tìm kiếm"
            clearable
            solo
          ></v-text-field>
        </div>
        <div class="nav-right">
          <v-btn color="#fff" class="border-custom-1 rounded-l-0 rounded-r-lg">
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
        </div>
      </div>
      <v-spacer />
      <div>
        <v-btn color="#fff" class="border-custom-1 mx-6">
          <v-icon>mdi-heart-outline</v-icon>
        </v-btn>

        <v-btn color="#fff" class="border-custom-1">
          <span class="font-size-16 font-weight-light" style="text-transform: none !important"
            >Login/Signup</span
          ></v-btn
        >
      </div>
    </v-toolbar>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
// import AccountMenu from '@/components/account/AccountMenu.vue';

export default Vue.extend({
  name: 'Header',
  props: ['isShowMenu'],
  // components: { AccountMenu },
  data: () => ({
    items: [{ title: 'Click Me' }, { title: 'Click Me' }, { title: 'Click Me' }, { title: 'Click Me 2' }],
  }),
  methods: {
    handleShowMenu() {
      this.$emit('handle-show-menu');
    },
  },
});
</script>

<style lang="scss">
.header {
  .header-wrap {
    padding-top: 10px;
  }
  .logo {
    size: 36px;
  }
  .nav-left {
    width: 100px;
  }
  .nav-search-field {
    width: 750px;
  }
  .icon-search {
    width: 63px;
  }
  .d-inline-flex {
    padding: 0%;
  }
  .v-btn {
    min-height: 48px;
  }
  .heart {
    padding-left: 30px;
  }
}
</style>
