<template>
  <div class="user-main-page">
    <Header @handle-show-menu="handleShowMenu" :isShowMenu="isShowMenu"> </Header>
    <router-view />
    <v-divider></v-divider>
    <Footer></Footer>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import Header from '@/components/common/Header.vue';
import Footer from '@/components/common/Footer.vue';

export default Vue.extend({
  name: 'Home',
  data: () => ({
    isShowMenu: false,
  }),
  components: {
    Header,
    // Body,
    Footer,
  },

  created() {
    const loading = this.$loading.show();
    setTimeout(() => {
      loading.hide();
    }, 1000);
  },
  methods: {
    handleShowMenu() {
      this.isShowMenu = !this.isShowMenu;
    },
  },
});
</script>
<style lang="scss">
.user-main-page {
  display: flex;
  justify-content: space-between;
  align-items: space-around;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
</style>
