<template>
  <v-app>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  name: 'App',

  data: () => ({
    //
  }),
  created() {},
  methods: {},
});
</script>

<style lang="scss">
#app {
  font-family: 'roboto' !important;
}
.border-1 {
  border: 1px solid #000000 !important;
}

.border-custom-1 {
  border: 1px solid #000000 !important;
  border-bottom: 2px solid #000000 !important;
  border-radius: 8px !important;
}

.border-custom-2 {
  border: 1px solid #000000 !important;
  box-sizing: border-box;
  border-radius: 2px !important;
}

.border-product-line {
  border: 1px solid #000000 !important;
  border-bottom: 2px solid #000000 !important;
  border-radius: 0px !important;
}

.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

.border-radius-0 {
  border-radius: 0px !important;
}
.border-radious-1 {
  border-radius: 2px !important;
}

.border-radious-2 {
  border-radius: 4px !important;
}
.border-radious-3 {
  border-radius: 6px !important;
}

.border-radious-2 {
  border-radius: 8px !important;
}

.box-shadow-1 {
  box-shadow: 0px 2px 0px #000000;
}

.box-sizing {
  box-sizing: border-box;
}

.font-color-1 {
  color: #00000099;
}
.font-color-2 {
  color: #000000de;
}
.font-size-10 {
  font-size: 10px !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.font-size-24 {
  font-size: 24px !important;
}
.font-size-36 {
  font-size: 36px !important;
}

.font-weight-1 {
  font-weight: 300px !important;
}

.font-weight-2 {
  font-weight: 500px !important;
}

.font-weight-3 {
  font-weight: bold !important;
}
</style>
