<template>
  <div class="product-user-page">
    <v-row class="pa-2">
      <v-col sm="12" md="2" class="my-0 pa-0 pt-2">
        <SelectCatalogLargeScreen
          v-if="!isSmallScreen"
          :catalogItems="catalogItems"
          :voteItems="voteItems"
          :brandItems="brandItems"
          :priceItems="priceItems"
          :agencyItems="agencyItems"
          :shipItems="shipItems"
          @handle-choose-price="handleChoosePrice"
        />
        <SelectCatalogSmallScreen
          v-else
          :catalogItems="catalogItems"
          :voteItems="voteItems"
          :brandItems="brandItems"
          :priceItems="priceItems"
          :agencyItems="agencyItems"
          :shipItems="shipItems"
        />
      </v-col>
      <v-col sm="12" md="10">
        <Category />
      </v-col>

      <!-- <AccountMenu :isShowMenu="isShowMenu" /> -->
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import SelectCatalogLargeScreen from '@/components/helper/SelectCatalogLargeScreen.vue';
import SelectCatalogSmallScreen from '@/components/helper/SelectCatalogSmallScreen.vue';
import Category from '@/components/product-page/Category.vue';

export default Vue.extend({
  name: 'Body',
  props: ['isShowMenu'],
  components: {
    SelectCatalogSmallScreen,
    SelectCatalogLargeScreen,
    Category,
  },
  data: () => ({
    quantity: 12,
    catalogItems: [
      { name: 'Điện thoại' },
      { name: 'Laptop' },
      { name: 'Tivi' },
      { name: 'Điện máy' },
      { name: 'Thiết bị mạng' },
      { name: 'Camera' },
      { name: 'Màn hình' },
      { name: 'Phụ kiện' },
    ],
    voteItems: [
      { name: '5-stars', rate: 5 },
      { name: '4-stars', rate: 4 },
      { name: '3-stars', rate: 3 },
      { name: '2-stars', rate: 2 },
      { name: '1-stars', rate: 1 },
    ],
    brandItems: [
      { name: 'Apple', selected: false },
      { name: 'Samsung', selected: false },
      { name: 'Xiaomi', selected: false },
      { name: 'OPPO', selected: false },
      { name: 'Huawei', selected: false },
      { name: 'Sony', selected: false },
    ],
    priceItems: [
      { id: 1, name: 'Dưới 2 triệu', selected: false, min: 0, max: 2 },
      { id: 2, name: 'Từ 2-4 triệu', selected: false, min: 2, max: 4 },
      { id: 3, name: 'Từ 4-7 triệu', selected: false, min: 4, max: 7 },
      { id: 4, name: 'Từ 7-13 triệu', selected: false, min: 7, max: 13 },
      { id: 5, name: 'Trên 13 triệu', selected: false, min: 13, max: 100 },
    ],
    agencyItems: [
      { name: 'Shopee', selected: false },
      { name: 'Lazada', selected: false },
      { name: 'Tiki', selected: false },
      { name: 'Sendo', selected: false },
      { name: 'Điên máy xanh', selected: false },
      { name: 'Nguyễn Kim', selected: false },
    ],
    shipItems: [
      { name: 'Nội địa: Giao hàng nhanh', selected: false },
      { name: 'Nội địa: Giao hàng thường', selected: false },
      { name: 'Quốc tế: Giao hàng nhanh', selected: false },
      { name: 'Quốc tế: Giao hàng thường', selected: false },
      { name: 'Miễn phí giao hàng', selected: false },
    ],
    isShowCatalog: false,
    isSmallScreen: false,
    // clientWidth: window.innerWidth,
  }),
  async created() {
    await this.initialize();
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        this.isSmallScreen = window.innerWidth <= 958;
        console.log(this.isSmallScreen, window.innerWidth);
      });
    });
  },
  mounted() {
    this.isSmallScreen = window.innerWidth <= 958;
  },
  methods: {
    async initialize() {},
    handleChoosePrice(item: any) {
      const id = item.id;
      const newPriceItems = [];
      for (const item of this.priceItems) {
        if (item.id == id) {
          item.selected = !item.selected;
        }
        newPriceItems.push({ ...item });
      }
      this.priceItems = [...newPriceItems];
    },
  },
  computed: {
    breadcrumbs() {
      return [
        {
          text: 'Home',
          disabled: false,
          to: `/`,
          exact: true,
        },
        {
          text: `Tủ lạnh`,
          to: ``,
          disabled: true,
          exact: true,
        },
      ];
    },
  },
});
</script>

<style lang="scss">
// .product-user-page {
// }
</style>
