<template>
  <div class="product-user-page">
    <v-row class="mt-5">
      <v-col offset="1" cols="10">
        <BannerCustom :title="introduceTitle" :content="introduceContent" :trendingItems="trendingItems" />
      </v-col>
    </v-row>
    <v-row>
      <v-col offset-lg="2" offset-md="3" offset-sm="0" offset-xl="0">
        <BreadCrumbs :breadcrumbs="breadcrumbs" />
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-row>
      <SelectCatalogLargeScreen v-if="!isSmallScreen" :catalogItems="catalogItems" :brandItems="brandItems" />
      <SelectCatalogSmallScreen v-else :catalogItems="catalogItems" :brandItems="brandItems" />
      <v-col xl="3" lg="3" md="4" sm="12" class="my-10">
        <v-row class="pl-6 pr-8">
          <v-col lg="3" md="4" sm="4" xl="6" v-for="i in quantity" :key="i">
            <Goods />
          </v-col>
        </v-row>
      </v-col>

      <AccountMenu :isShowMenu="isShowMenu" />
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Goods from '@/components/product/Goods.vue';
import AccountMenu from '@/components/account/AccountMenu.vue';
import Category from '@/components/product/Category.vue';
import BreadCrumbs from '@/components/common/BreadCrumbs.vue';
import BannerCustom from '@/components/common/BannerCustom.vue';
import SelectCatalogLargeScreen from '@/components/helper/SelectCatalogLargeScreen.vue';
import SelectCatalogSmallScreen from '@/components/helper/SelectCatalogSmallScreen.vue';

import GoodsService from '@/api/goods.service';

export default Vue.extend({
  name: 'Body',
  props: ['isShowMenu'],
  components: {
    Goods,
    AccountMenu,
    BreadCrumbs,
    BannerCustom,
    SelectCatalogSmallScreen,
    SelectCatalogLargeScreen,
  },
  data: () => ({
    quantity: 12,
    catalogItems: [
      { name: 'Laptop', quantity: 13703 },
      { name: 'Máy tính để bàn', quantity: 7862 },
      { name: 'Màn hình máy tính', quantity: 7505 },
      { name: 'Thiết bị VP', quantity: 76350 },
      { name: 'Phụ kiện máy tính', quantity: 262435 },
      { name: 'Thiết bị mạng', quantity: 46251 },
      { name: 'Linh kiện máy tính', quantity: 82925 },
    ],
    brandItems: [
      { name: 'Dell', quantity: 2709 },
      { name: 'Asus', quantity: 2380 },
      { name: 'HP', quantity: 2220 },
      { name: 'Lenovo', quantity: 1333 },
      { name: 'Acer', quantity: 1060 },
      { name: 'Apple', quantity: 758 },
      { name: 'MSI', quantity: 556 },
      { name: 'Microsoft', quantity: 476 },
      { name: 'KHÁC', quantity: 320 },
      { name: 'LG', quantity: 110 },
      { name: 'Fujitsu', quantity: 82 },
      { name: 'Toshiba', quantity: 60 },
      { name: '...', quantity: 35 },
      { name: 'Sony', quantity: 32 },
      { name: 'OEM', quantity: 26 },
      { name: 'Xiaomi', quantity: 25 },
      { name: 'Panasonic', quantity: 14 },
      { name: 'Samsung', quantity: 9 },
      { name: 'Surface', quantity: 8 },
      { name: 'Huawei', quantity: 8 },
      { name: 'Razer', quantity: 6 },
      { name: 'IBM', quantity: 4 },
    ],
    introduceTitle: 'Bảng giá Laptop tháng 5/2021',
    introduceContent:
      'Laptop hay còn gọi là máy tính xách tay, ngày nay khi khoa học công nghệ ngày càng phát triển việc sở hữu một chiếc máy tính là vô cùng cần thiết, nhằm đáp ứng một số nhu cầu thiết yếu trong công việc, học tập, nghiên cứu,...giá laptop ngày nay cũng không quá cao phân khúc thị trường đa dạng. Các sản phẩm Laptop phổ biến nhất tháng 5/2021 như: Laptop Dell Inspiron 5593 N5I5513W, Máy tính bảng SURFACE PRO 6 I5 256GB, Laptop HP 15s-fq1107TU 193Q3PA, Apple Macbook Air 2019 MVFK2/MVFJ2/MVFJ2/MVFH2...',
    trendingItems: [
      'Tivi 50 inch',
      'Tivi TCL 49 inch',
      'Tivi Sony 32 inch',
      'Tivi Sharp 32 inch',
      'Tivi Casper 43 inch',
      'Tivi 43 inch',
      'Tivi TCL 32 inch',
      'Tivi Asanzo 32 inch',
    ],
    isShowCatalog: false,
    isSmallScreen: false,
    // clientWidth: window.innerWidth,
  }),
  async created() {
    await this.initialize();
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        this.isSmallScreen = window.innerWidth <= 958;
        console.log(this.isSmallScreen, window.innerWidth);
      });
    });
    console.log('1321');
  },
  mounted() {
    this.isSmallScreen = window.innerWidth <= 958;
  },
  methods: {
    async initialize() {
      setTimeout(async () => {
        console.log('goods');
        const res = await GoodsService.getGoodsItem();
        console.log('goods', res);
      }, 3000);
    },
  },
  computed: {
    breadcrumbs() {
      return [
        {
          text: 'Home',
          disabled: false,
          to: `/sys`,
          exact: true,
        },
        {
          text: `Tủ lạnh`,
          to: ``,
          disabled: true,
          exact: true,
        },
      ];
    },
  },
});
</script>

<style lang="scss">
// .product-user-page {
// }
</style>
