<template>
  <v-card class="brand">
    <div class="parent-brands-header">Thương hiệu</div>
    <div class="d-flex justify-space-around align-space-around">
      <div v-for="(brand, index) in brands" :key="index">
        <v-card width="320px">
          <v-row>
            <v-col col="8" class="pa-2 ma-2">
              <v-img height="128px" width="128px" :src="brand.img"></v-img>
            </v-col>
            <v-col col="4">
              <v-card-title class="justify-center">{{ brand.name }}</v-card-title>
            </v-col>
          </v-row>
        </v-card>
      </div>
    </div>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  data() {
    return {
      brands: [
        { name: 'Apple', img: 'https://www.jobsexpo.ie/wp-content/uploads/2015/11/Apple.png' },
        { name: 'Samsung', img: 'https://logovina.com/wp-content/uploads/2015/09/samsung-logo.jpeg' },
        { name: 'LG', img: 'https://logoeps.com/wp-content/uploads/2013/03/lg-electronics-vector-logo.png' },
        {
          name: 'Lenovo',
          img:
            'https://www.intel.com.au/content/dam/www/public/us/en/images/logos/rwd/lenovo-logo-rwd.jpg.rendition.intel.web.864.486.jpg',
        },
      ],
    };
  },
});
</script>

<style lang="scss">
.brand {
  height: 275px;
  margin-left: 15px;
  margin-right: 20px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 44px;

  .parent-brands-header {
    width: 220px;
    height: 29px;
    font-family: 'roboto';
    font-weight: 400px;
    font-size: 24px;
    margin-bottom: 25px;
  }
  .child-brands-img {
    padding-top: 30px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 22px;
  }
  .child-brands-title {
  }
  .justify-center {
    font-family: 'roboto';
    font-weight: 700px;
    font-size: 24px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    width: 105px;
  }
}
</style>
