<template>
  <v-card :loading="loading" class="product-card border-1 border-radious-2 box-sizing py-5 mb-4 mx-auto">
    <v-row class="product-header pa-0 ma-0" align="center">
      <v-card class="product-agency-logo">
        <v-img
          class="product-agency-logo-img border-1 border-radious-2 box-sizing"
          height="40"
          width="40"
          :src="require('../../assets/f201f0a8baee2ef5ee2adef6ac755c72.jpg')"
        ></v-img>
      </v-card>

      <v-card-text class="product-agency font-size-14 font-weight-2 px-3 py-1">SHOPEE</v-card-text>

      <v-btn class="product-favor-btn" icon>
        <v-icon> mdi-heart </v-icon>
      </v-btn>
    </v-row>

    <v-img
      class="product-img border-1 border-radious-1 mt-6"
      height="255"
      width="244"
      :src="require('../../assets/f201f0a8baee2ef5ee2adef6ac755c72.jpg')"
    ></v-img>

    <v-card-title class="product-name font-size-18 font-weight-3 pa-0 mx-0 mb-0">iPhone 12 Pro Max 128GB</v-card-title>

    <v-row class="product-price pa-0 mx-0 mb-0">
      <v-card
        class="product-new-price font-size-18 font-weight-2 text-center border-1 border-radious-2 box-shadow-1 box-sizing"
        >29990000đ</v-card
      >
      <div class="product-old-price font-size-16 font-weight-1 py-1">32990000đ</div>
    </v-row>
    <v-row class="product-footer pa-0 mt-6 mx-0 mb-0">
      <v-rating class="product-rate" :value="5" color="amber" dense half-increments readonly size="14"></v-rating>
      <v-card-text class="product-ship font-size-14 font-weight-1 pa-0 ma-0">Miễn phí giao hàng</v-card-text>
    </v-row>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  data: () => ({
    loading: false,
    selection: 1,
  }),

  methods: {
    reserve() {
      this.loading = true;
      setTimeout(() => (this.loading = false), 2000);
    },
  },
});
</script>

<style lang="scss">
.product-card {
  width: 274px;
  height: 484px;
  padding-left: 15px;
  padding-right: 15px;
  .product-header {
    width: 244px;
    height: 40px;
  }
  .product-agency-logo {
    width: 40px;
    height: 40px;
  }
  .product-agency {
    width: 77.92px;
    height: 32px;
    margin-right: 101px;
  }
  .product-favor-btn {
    width: 24px;
    height: 24.41px;
  }
  .product-name {
    margin-top: 13px;
  }
  .product-price {
    width: 238px;
    height: 32px;
    margin-top: 9px;
  }
  .product-new-price {
    width: 133px;
    height: 32px;
    margin-right: 23.5px;
  }
  .product-old-price {
    text-decoration: line-through;
  }
  .product-footer {
    width: 244px;
    height: 16px;
  }
  .product-rate {
    width: 103.74px;
    height: 16px;
    margin-right: 19px;
  }
  .product-ship {
    width: 121px;
    height: 16px;
  }
}
</style>
