<template>
  <v-card class="product-line-card border-1 border-radius-4 box-sizing my-8 pt-6" width="100%">
    <div class="ml-7 font-size-24">Dòng sản phẩm</div>
    <v-carousel show-arrows-on-hover light continuous :cycle="true" hide-delimiter-background height="330" class="px-4">
      <template v-for="(item, index) in items">
        <v-carousel-item v-if="(index + 1) % columns === 1 || columns === 1" :key="index">
          <v-row class="px-2">
            <template v-for="(n, i) in columns">
              <template v-if="+index + i < items.length">
                <v-col :key="i" class="pt-10 px-5">
                  <v-card
                    height="230"
                    width="140"
                    :loading="loading"
                    v-if="+index + i < items.length"
                    color="#fff"
                    class="product-line border-product-line ma-0 px-0"
                  >
                    <v-card-text>
                      <v-img
                        class="product-line-img border-1 border-radious-1 my-0"
                        height="120"
                        width="105.1"
                        :src="items[+index + i].imageUrl"
                      ></v-img>
                      <div class="black--text text-center mt-3 font-weight-bold">{{ items[+index + i].name }}</div>
                    </v-card-text>
                  </v-card>
                </v-col>
              </template>
            </template>
          </v-row>
        </v-carousel-item>
      </template>
    </v-carousel>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: ['items'],
  data: () => ({
    loading: false,
    selection: 1,
  }),
  computed: {
    columns() {
      if (this.$vuetify.breakpoint.xl) {
        return 6;
      }

      if (this.$vuetify.breakpoint.lg) {
        return 6;
      }

      if (this.$vuetify.breakpoint.md) {
        return 4;
      }
      if (this.$vuetify.breakpoint.sm) {
        return 3;
      }

      return 2;
    },
  },
  created() {
    console.log(this.items);
  },
  methods: {
    reserve() {
      this.loading = true;
      setTimeout(() => (this.loading = false), 2000);
    },
  },
});
</script>

<style lang="scss">
.product-line-card {
  background-color: gray;
}
</style>
