<template>
  <v-card class="promotion">
    <div class="parent-promotions-header">
      <span> Giảm giá </span>
      <div class="float-right">
        <span> Xem thêm </span>
        <v-icon size="20px">mdi-chevron-right</v-icon>
      </div>
    </div>
    <div class="parent-promotions-content">
      <div class="d-inline-flex" v-for="(promotion, index) in promotions" :key="index">
        <v-card class="child-promotions-img">
          <v-img height="102px" width="184px" :src="promotion.img"></v-img>
          <div class="child-promotions-content">
            <v-card-title class="justify-center">{{ promotion.name }}</v-card-title>
            <v-card-text class="text-center">-{{ promotion.sale }}% SALE</v-card-text>
          </div>
        </v-card>
      </div>
    </div>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  data() {
    return {
      promotions: [
        {
          name: 'Product1',
          sale: 30,
          img: 'https://i.pinimg.com/originals/93/9f/7c/939f7cb183eff16107d6e0fd4d07ef4f.png',
        },
        {
          name: 'Product2',
          sale: 15,
          img: 'https://i.pinimg.com/originals/87/52/3d/87523d96038359776d4b1073ff15b51b.png',
        },
        { name: 'Product3', sale: 18, img: 'https://i.pinimg.com/236x/f1/49/21/f14921a1fde31f58e27b1fe7cac2b98b.jpg' },
        { name: 'Product4', sale: 30, img: 'https://i.pinimg.com/474x/26/42/bb/2642bb20a9b40ba47430c89ddae0b57c.jpg' },
        { name: 'Product5', sale: 30, img: 'http://dragold.net/uploadimages/18072019_033916_CH_digital-icon.png' },
      ],
    };
  },
});
</script>

<style lang="scss">
.promotion {
  height: 340px;
  margin-left: 15px;
  margin-right: 20px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 44px;
  .parent-promotions-header {
    height: 29px;
    font-family: 'roboto';
    font-weight: 400px;
    font-size: 24px;
    margin-bottom: 25px;
  }
  .float-right {
    width: 88px;
    height: 24px;
    font-family: 'roboto';
    font-weight: 400px;
    font-size: 14px;
  }
  .child-promotions-img {
    padding-top: 33px;
    padding-left: 27px;
    padding-right: 27px;
  }
  .d-inline-flex {
    width: 242px;
    height: 245px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .child-promotions-content {
    padding-bottom: 10px;
  }
  .justify-center {
    font-family: 'roboto';
    font-weight: 700px;
    font-size: 18px;
    white-space: pre;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .text-center {
    font-family: 'roboto';
    font-weight: 500px;
    font-size: 18px;
    white-space: pre;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
  }
}
</style>
