<template>
  <div id="owl-demo" class="owl-carousel owl-theme">
    <div class="d-inline-flex" v-for="(category, index) in categories" :key="index">
      <v-card class="child-categories-img">
        <v-img
          contain
          height="97px"
          width="102px"
          :src="require('../../assets/f201f0a8baee2ef5ee2adef6ac755c72.jpg')"
        ></v-img>
        <v-card-title class="justify-center">{{ category }}</v-card-title>
      </v-card>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  data() {
    return {
      categories: ['Điện thoại', 'Laptop', 'Tivi', 'Điện máy', 'Thiết bị mạng', 'Camera', 'Màn hình', 'Phụ kiện'],
    };
  },
});
</script>

<style scoped>
.grandma-categories {
  width: 1320px;
  height: 310px;
  margin-left: 15px;
  margin-right: 20px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  margin-bottom: 44px;
}
.parent-categories-header {
  width: 220px;
  height: 29px;
  font-family: 'roboto';
  font-weight: 400px;
  font-size: 24px;
  margin-bottom: 25px;
}
.child-categories-img {
  padding-top: 33px;
  padding-left: 22px;
  padding-right: 22px;
}
.d-inline-flex {
  width: 157px;
  height: 210px;
}
.justify-center {
  font-family: 'roboto';
  font-weight: 700px;
  font-size: 16px;
  white-space: pre;
  padding-left: 0px;
  padding-right: 0px;
}
</style>