<template>
  <v-card class="trending">
    <div class="parent-trending-header">Tìm kiếm nổi bật</div>
    <div class="parent-trending-content">
      <div class="d-inline-flex" v-for="(trending, index) in trendings" :key="index">
        <v-card class="child-trending-img">
          <v-row>
            <v-col col="1">
              <v-img height="98px" width="128px" :src="trending.img"></v-img>
            </v-col>
            <v-col col="1">
              <div class="child-trending-content">
                <v-card-title class="justify-center">{{ trending.name }}</v-card-title>
                <v-card-text class="text-center">{{ trending.qty }} sản phẩm</v-card-text>
              </div>
            </v-col>
          </v-row>
        </v-card>
      </div>
    </div>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  data() {
    return {
      trendings: [
        {
          name: 'Product 1',
          qty: 120,
          img: 'https://i.pinimg.com/originals/56/5f/52/565f5230fae0fca14f82c77b99a55ad5.png',
        },
        {
          name: 'Product 2',
          qty: 120,
          img:
            'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAmEeG7NZnIRWF7jCHj6JU9UFW8uPmr_-qFX_6R9jJ_C73R9I_ivaXbvKXj9amMxjq6Kc&usqp=CAU',
        },
        {
          name: 'Product 3',
          qty: 120,
          img: 'https://vtf.com.vn/wp-content/uploads/2017/12/icon-quan-tri-nha-hang.png',
        },
        { name: 'Product 4', qty: 120, img: 'https://www.svgrepo.com/show/93077/restaurant.svg' },
      ],
    };
  },
});
</script>

<style lang="scss">
.trending {
  height: 225px;
  margin-left: 15px;
  margin-right: 20px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  margin-bottom: 44px;
  .parent-trending-header {
    width: 220px;
    height: 29px;
    font-family: 'roboto';
    font-weight: 400px;
    font-size: 24px;
    margin-bottom: 25px;
  }
  .child-trending-img {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 17px;
    padding-bottom: 17px;
  }
  .d-inline-flex {
    width: 305px;
    height: 130px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .justify-center {
    font-family: 'roboto';
    font-weight: 700px;
    font-size: 24px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .text-center {
    font-family: 'roboto';
    font-weight: 300px;
    font-size: 18px;
    white-space: pre;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
  }
}
</style>
