<template>
  <div class="body-user-page" ref="body-user-page-ref">
    <Carousel></Carousel>
    <Category></Category>
    <Brand></Brand>
    <Promotion></Promotion>
    <Trending></Trending>
    <BackToTop></BackToTop>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Carousel from '@/components/common/CarouselCustom.vue';
import Category from '@/components/product/Category.vue';
import Brand from '@/components/product/Brand.vue';
import Promotion from '@/components/product/Promotion.vue';
import Trending from '@/components/product/Trending.vue';
import BackToTop from '@/components/common/BackToTop.vue';

export default Vue.extend({
  name: 'Body',
  components: {
    Carousel,
    Category,
    Brand,
    Promotion,
    Trending,
    BackToTop,
  },
  data: () => ({}),
});
</script>

<style lang="scss">
.body-user-page {
}
</style>
