<template>
  <div class="category pa-3">
    <BreadCrumbs :breadcrumbs="breadcrumbs" />

    <v-card-title class="category-name font-size-36 font-weight-3 pa-0 mt-8 mx-0">Điện Thoại</v-card-title>

    <v-row class="category-result pa-0 mb-4 mx-0">
      <v-card-text class="category-quantity font-size-14 font-weight-2 pa-0">1-48 trên 6000 kết quả</v-card-text>
      <v-row class="category-filter pa-0 ma-0">
        <v-card-text class="category-filter-title font-size-16 font-weight-2 pa-0">Ưu tiên xem</v-card-text>
        <div class="category-nav-left">
          <v-select label="Phổ biến nhất" hide-details solo></v-select>
        </div>
      </v-row>
    </v-row>

    <v-divider></v-divider>
    <ProductLine :items="productLine" />

    <v-row no-gutters class="d-flex align-center" align="center">
      <v-col lg="3" md="4" sm="6" xl="3" class="pa-auto ma-auto" v-for="i in product_quantity" :key="i">
        <Product />
      </v-col>
    </v-row>
    <div class="product-pagination font-weight-3 pa-0 mx-0 mb-10 mt-9 float-right">
      <v-pagination v-model="page" :length="5" circle color="black"></v-pagination>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Product from '@/components/product/Product.vue';
import ProductLine from '@/components/product/ProductLine.vue';
import BreadCrumbs from '@/components/common/BreadCrumbs.vue';

export default Vue.extend({
  name: 'Body',
  props: ['isShowMenu'],
  components: {
    BreadCrumbs,
    ProductLine,
    Product,
  },
  data: () => ({
    page: 1,
    product_quantity: 8,
    productLine: [
      { name: 'iPhone 12 Pro Max', imageUrl: require('@/assets/f201f0a8baee2ef5ee2adef6ac755c72.jpg') },
      { name: 'iPhone 12 Pro', imageUrl: require('@/assets/f201f0a8baee2ef5ee2adef6ac755c72.jpg') },
      { name: 'iPhone 12', imageUrl: require('@/assets/f201f0a8baee2ef5ee2adef6ac755c72.jpg') },
      { name: 'iPhone 11', imageUrl: require('@/assets/f201f0a8baee2ef5ee2adef6ac755c72.jpg') },
      { name: 'Samsung Galaxy A50', imageUrl: require('@/assets/f201f0a8baee2ef5ee2adef6ac755c72.jpg') },
      { name: 'Samsung Galaxy A71, A715', imageUrl: require('@/assets/f201f0a8baee2ef5ee2adef6ac755c72.jpg') },
      { name: 'iPhone 12 Pro Max', imageUrl: require('@/assets/f201f0a8baee2ef5ee2adef6ac755c72.jpg') },
      { name: 'iPhone 12 Pro', imageUrl: require('@/assets/f201f0a8baee2ef5ee2adef6ac755c72.jpg') },
      { name: 'iPhone 12', imageUrl: require('@/assets/f201f0a8baee2ef5ee2adef6ac755c72.jpg') },
      { name: 'iPhone 11', imageUrl: require('@/assets/f201f0a8baee2ef5ee2adef6ac755c72.jpg') },
      { name: 'Samsung Galaxy A50', imageUrl: require('@/assets/f201f0a8baee2ef5ee2adef6ac755c72.jpg') },
      { name: 'Samsung Galaxy A71, A715', imageUrl: require('@/assets/f201f0a8baee2ef5ee2adef6ac755c72.jpg') },
    ],
    isShowCatalog: false,
    isSmallScreen: false,
    // clientWidth: window.innerWidth,
  }),
  async created() {
    await this.initialize();
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        this.isSmallScreen = window.innerWidth <= 958;
        console.log(this.isSmallScreen, window.innerWidth);
      });
    });
  },
  mounted() {
    this.isSmallScreen = window.innerWidth <= 958;
  },
  methods: {
    async initialize() {},
  },
  computed: {
    breadcrumbs() {
      return [
        {
          text: 'Home',
          disabled: false,
          to: '/',
          exact: true,
        },
        {
          text: 'Điện thoại',
          disabled: true,
          to: '',
          exact: true,
        },
      ];
    },
  },
});
</script>

<style lang="scss">
.category {
  .category-name {
    margin-bottom: 10px;
  }
  .category-result {
    align-items: center;
  }
  .category-quantity {
    width: 200px;
    height: 16px;
  }
  .category-filter {
    width: 261px;
    height: 48px;
    align-items: center;
    justify-content: flex-end;
  }
  .category-filter-title {
    width: 90px;
    height: 19px;
    margin-right: 15px;
  }
  .category-nav-left {
    width: 156px;
    height: 48px;
  }
  .product-pagination {
    width: 330px;
    height: 32px;
  }
}
</style>
