<template>
  <div class="catalog-screen">
    <v-card class="catalog pa-0 mt-5 mb-8" max-height="217px" flat>
      <v-card-title class="catalog-header header-customer pa-0 mb-3"> Danh mục </v-card-title>
      <div>
        <div class="catalog-list" v-for="item in catalogItems" :key="item.name">
          <v-card-text class="catalog-item-name item-customer pa-0">{{ item.name }}</v-card-text>
        </div>
      </div>
    </v-card>

    <v-card class="rating pa-0 mb-9" max-height="184px" flat>
      <v-card-title class="header-customer pa-0 mb-2"> Bình chọn </v-card-title>
      <div>
        <div class="rating-list" v-for="item in voteItems" :key="item.name">
          <v-rating
            class="rating-item"
            :value="item.rate"
            color="black"
            background-color="black"
            half-increments
            dense
            readonly
            size="24"
          ></v-rating>
        </div>
      </div>
    </v-card>

    <v-card class="rating pa-0 mb-9" max-height="269px" flat>
      <v-card-title class="header-customer pa-0">Thương hiệu</v-card-title>
      <div class="mt-2 mb-4">
        <div class="item-customer d-flex pa-0 mt-3" justify="center" v-for="item in brandItems" :key="item.name">
          <v-checkbox
            class="item-checkbox-customer pa-0 my-0 mr-2"
            v-model="item.selected"
            :label="item.name"
            color="black"
            hide-details
          ></v-checkbox>
        </div>
      </div>
      <div class="item-expand-customer font-weight-2 font-size-14">
        <span> Xem thêm </span>
        <v-icon size="20px">mdi-chevron-down</v-icon>
      </div>
    </v-card>

    <v-card class="price pa-0 mt-0 mb-9" max-height="266px" flat>
      <v-card-title class="price-header header-customer pa-0 ma-0 mb-3"> Giá cả </v-card-title>

      <div class="price-list" v-for="item in priceItems" :key="item.name">
        <v-card-text
          class="item-customer pa-0"
          @click="handleChoosePrice(item)"
          :class="item.selected ? 'font-weight-bold' : ''"
          >{{ item.name }}</v-card-text
        >
      </div>
      <v-card-text align="center" class="mb-0 mt-1 pb-1 pa-auto">
        <v-row class="my-n0 pa-0 d-inline-flex">
          <div class="pl-0" style="width: 45%">
            <v-text-field v-model="minPriceFilter" label="MIN" type="number" hide-details solo></v-text-field>
          </div>
          <span class="px-1 mt-6" style="width: 10%"><v-divider color="black" /></span>
          <div style="width: 45%; height: 32px">
            <v-text-field v-model="maxPriceFilter" label="MAX" type="number" hide-details solo></v-text-field>
          </div>
        </v-row>
      </v-card-text>
      <v-card-actions class="px-1">
        <v-btn class="price-btn border-custom-2 white--text mt-3" width="100%">OK</v-btn>
      </v-card-actions>
    </v-card>

    <div class="agency pa-0 mt-6 mb-8" max-height="269px" flat>
      <v-card-title class="agency-header header-customer pa-0 ma-0"> Đại lý</v-card-title>
      <div class="mt-2 mb-4">
        <div class="item-customer d-flex pa-0 mt-3" justify="center" v-for="item in agencyItems" :key="item.name">
          <v-checkbox
            class="item-checkbox-customer pa-0 my-0 mr-2"
            v-model="item.selected"
            :label="item.name"
            color="black"
            hide-details
          ></v-checkbox>
        </div>
      </div>
      <div class="item-expand-customer font-weight-2 font-size-14">
        <span> Xem thêm </span>
        <v-icon size="20px">mdi-chevron-down</v-icon>
      </div>
    </div>

    <div class="ship pa-0" max-height="197px" flat>
      <v-card-title class="ship-header header-customer pa-0 ma-0"> Giao hàng</v-card-title>
      <div class="mt-2 mb-4">
        <div class="item-customer d-flex pa-0 mt-3" justify="center" v-for="item in shipItems" :key="item.name">
          <v-checkbox
            class="item-checkbox-customer pa-0 my-0 mr-2"
            v-model="item.selected"
            :label="item.name"
            color="black"
            hide-details
          ></v-checkbox>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: ['catalogItems', 'voteItems', 'brandItems', 'priceItems', 'agencyItems', 'shipItems'],
  data: () => ({
    minPriceFilter: '',
    maxPriceFilter: '',
  }),
  watch: {
    priceItems() {
      const filterItems = this.priceItems.filter((item: any) => item.selected);
      const minItems = filterItems.map((item: any) => item.min);
      const maxItems = filterItems.map((item: any) => item.max);
      this.minPriceFilter = Math.min(...minItems).toString();
      this.maxPriceFilter = Math.max(...maxItems).toString();
      console.log(minItems);
      console.log(maxItems);
      console.log(this.minPriceFilter);
      console.log(this.maxPriceFilter);
    },
  },
  methods: {
    handleChoosePrice(item: any) {
      this.$emit('handle-choose-price', item);
    },
  },
});
</script>

<style lang="scss">
.catalog-screen {
  padding-left: 17px;
  .header-customer {
    height: 21px;
    line-height: 21.09px;
    font-weight: 500px;
    font-size: 18px;
  }

  .item-customer {
    height: 24px;
    margin-top: 2px;
    line-height: 16.41px;
    font-weight: 300px;
    font-size: 14px;
  }

  .price-btn {
    background-color: #000000 !important;
  }

  .item-checkbox-customer .v-label {
    line-height: 16.41px;
    font-weight: 300px;
    font-size: 14px;
    color: #000000;
  }

  .price-btn {
    width: 182px;
    height: 32px;
  }
}
</style>
